interactions:
- id: 0
  request:
    body: '{"client_id":"testc7f6-1234-5678-9101-tt1692864879","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1692864879ee"}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/integration/azure
  response:
    body: '{}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 1
  request:
    body: '{"client_id":"testc7f6-1234-5678-9101-tt1692864879","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","host_filters":"filter:foo,test:bar","new_client_id":"testc7f6-1234-5678-9101-uu1692864879","new_tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1692864879ff","tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1692864879ee"}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v1/integration/azure
  response:
    body: '{}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/integration/azure
  response:
    body: '[{"tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1692864879ff","client_id":"testc7f6-1234-5678-9101-uu1692864879","host_filters":"filter:foo,test:bar","app_service_plan_filters":"","automute":true,"cspm_enabled":false,"custom_metrics_enabled":false,"errors":[],"warnings":[]}]

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- id: 3
  request:
    body: '{"client_id":"testc7f6-1234-5678-9101-uu1692864879","host_filters":"test:foo,test:bar","tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1692864879ff"}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/integration/azure/host_filters
  response:
    body: '{}

      '
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- id: 6
  request:
    body: '{"client_id":"testc7f6-1234-5678-9101-tt1692864879","tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1692864879ee"}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: DELETE
    url: https://api.datadoghq.com/api/v1/integration/azure
  response:
    body: '{"errors":["Azure Integration not yet installed. Please install before
      performing this action."]}'
    code: 400
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
version: 2
