interactions:
- id: 0
  request:
    body: '{"series": [{"host": "Test-TestHosts-1618220958", "metric": "go.client.test.metric",
      "points": [[1618220958.000000, 0]]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/series
  response:
    body: '{"status": "ok"}'
    code: 202
    duration: 100ms
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/tags/hosts/Test-TestHosts-1618220958
  response:
    body: '{"errors": ["No host matches that host_id"]}'
    code: 404
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4287331'
    status: 404 Not Found
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/tags/hosts/Test-TestHosts-1618220958
  response:
    body: '{"tags":[]}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - '35.4287331'
    status: 200 OK
- id: 3
  request:
    body: '{"end":1618221018,"message":"muting for test"}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/host/Test-TestHosts-1618220958/mute
  response:
    body: '{"action":"Muted","downtime_id":1217084953,"hostname":"Test-TestHosts-1618220958","end":1618221018,"message":"muting
      for test"}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - '35.4287331'
    status: 200 OK
[...]
- id: 5
  request:
    body: '{"end":1618221078,"message":"muting for test override","override":true}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/host/Test-TestHosts-1618220958/mute
  response:
    body: '{"action":"Muted","downtime_id":1217084956,"hostname":"Test-TestHosts-1618220958","end":1618221078,"message":"muting
      for test override"}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - '35.4287331'
    status: 200 OK
- id: 6
  request:
    body: ''
    form: {}
    headers:
    method: POST
    url: https://api.datadoghq.com/api/v1/host/Test-TestHosts-1618220958/unmute
  response:
    body: '{"action":"Unmuted","downtime_id":1217084956,"hostname":"Test-TestHosts-1618220958"}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - '35.4287331'
    status: 200 OK
version: 2
