interactions:
- id: 0
  request:
    body: '{"account_id":"001664524097","account_specific_namespace_rules":{"opsworks":true},"excluded_regions":["us-east-1","us-west-1"],"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/integration/aws
  response:
    body: '{"external_id":"72e429ced3ff4d95b2af3e9170df0345"}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11994'
      X-Ratelimit-Reset:
      - '43'
    status: 200 OK
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/integration/aws?account_id=001664524097&role_name=DatadogAWSIntegrationRole
  response:
    body: '{"accounts":[{"cspm_resource_collection_enabled":false,"role_name":"DatadogAWSIntegrationRole","excluded_regions":["us-east-1","us-west-1"],"account_id":"001664524097","host_tags":["filter:one","filtertwo"],"account_specific_namespace_rules":{"opsworks":true},"metrics_collection_enabled":true,"errors":[],"resource_collection_enabled":false,"filter_tags":["testTag","test:Tag2"]}]}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11993'
      X-Ratelimit-Reset:
      - '42'
    status: 200 OK
- id: 2
  request:
    body: '{"account_id":"001664524097","role_name":"DatadogAWSIntegrationRole"}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: DELETE
    url: https://api.datadoghq.com/api/v1/integration/aws
  response:
    body: '{}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11992'
      X-Ratelimit-Reset:
      - '42'
    status: 200 OK
version: 2
