interactions:
- id: 0
  request:
    body: '{"access_role":"ro","email":"test-testdisableuser-1618221310@integration-tests-accnt-for-sdk-ci.com","handle":"test-testdisableuser-1618221310@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestDisableUser-1618221310"}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/user
  response:
    body: '{"user":{"disabled":false,"handle":"test-testdisableuser-1618221310@integration-tests-accnt-for-sdk-ci.com","name":"Test-TestDisableUser-1618221310","title":null,"is_admin":false,"role":null,"access_role":"ro","verified":false,"email":"test-testdisableuser-1618221310@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/07fc2c855d274a6f5b87b98c4bcd78bb?s=48&d=retro"}}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - '35.4287331'
    status: 200 OK
- id: 1
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/user/test-testdisableuser-1618221310@integration-tests-accnt-for-sdk-ci.com
  response:
    body: '{"message":"User test-testdisableuser-1618221310@integration-tests-accnt-for-sdk-ci.com
      disabled"}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - '35.4287331'
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/user/test-testdisableuser-1618221310@integration-tests-accnt-for-sdk-ci.com
  response:
    body: '{"errors": ["User is already disabled"]}'
    code: 400
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4287331'
    status: 400 Bad Request
version: 2
