interactions:
- id: 0
  request:
    body: '{"account_id":"001664524086","account_specific_namespace_rules":{"opsworks":true},"excluded_regions":["us-east-1","us-west-1"],"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/integration/aws
  response:
    body: '{"external_id":"4f59b457d3cb4cbebd473a1383f44373"}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11999'
      X-Ratelimit-Reset:
      - '53'
    status: 200 OK
- id: 1
  request:
    body: '{"account_specific_namespace_rules":{"opsworks":false},"excluded_regions":["us-east-1","us-west-1"],"filter_tags":["testTagUpdate","testUpdated:Tag2"],"host_tags":["filter:foo","bar"],"role_name":"DatadogAWSIntegrationRoleUpdated"}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v1/integration/aws?account_id=001664524086&role_name=DatadogAWSIntegrationRole
  response:
    body: '{}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11998'
      X-Ratelimit-Reset:
      - '53'
    status: 200 OK
- id: 2
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/integration/aws?account_id=001664524086&role_name=DatadogAWSIntegrationRoleUpdated
  response:
    body: '{"accounts":[{"cspm_resource_collection_enabled":false,"role_name":"DatadogAWSIntegrationRoleUpdated","excluded_regions":["us-east-1","us-west-1"],"account_id":"001664524086","host_tags":["filter:foo","bar"],"account_specific_namespace_rules":{"opsworks":false},"metrics_collection_enabled":true,"errors":[],"resource_collection_enabled":false,"filter_tags":["testTagUpdate","testUpdated:Tag2"]}]}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11997'
      X-Ratelimit-Reset:
      - '52'
    status: 200 OK
[...]
- id: 4
  request:
    body: '{"account_id":"001664524086","role_name":"DatadogAWSIntegrationRole"}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: DELETE
    url: https://api.datadoghq.com/api/v1/integration/aws
  response:
    body: '{"errors": ["AWS account 001664524086 does not exist in integration"]}'
    code: 400
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11995'
      X-Ratelimit-Reset:
      - '51'
    status: 400 Bad Request
version: 2
