interactions:
- id: 0
  request:
    body: '{"account_id":"661646648251","account_specific_namespace_rules":{"opsworks":true},"filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"role_name":"DatadogAWSIntegrationRole"}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/integration/aws
  response:
    body: '{"external_id":"4bb63064f857466692c292ccbe255113"}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11993'
      X-Ratelimit-Reset:
      - '28'
    status: 200 OK
- id: 1
  request:
    body: '{"account_id":"661646648251","lambda_arn":"arn:aws:lambda:us-east-1:123456789101:function:GoClientTest"}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/integration/aws/logs
  response:
    body: '{}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11992'
      X-Ratelimit-Reset:
      - '28'
    status: 200 OK
- id: 2
  request:
    body: '{"account_id":"661646648251","services":["s3","elb","elbv2","cloudfront","redshift","lambda"]}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/integration/aws/logs/services
  response:
    body: '{}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11991'
      X-Ratelimit-Reset:
      - '28'
    status: 200 OK
- id: 3
  request:
    body: '{"account_id":"661646648251","role_name":"DatadogAWSIntegrationRole"}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: DELETE
    url: https://api.datadoghq.com/api/v1/integration/aws
  response:
    body: '{}'
    code: 200
    duration: 100ms
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11990'
      X-Ratelimit-Reset:
      - '27'
    status: 200 OK
version: 2
