interactions:
- id: 0
  request:
    body: '{}

      '
    form: {}
    headers:
      Content-Type:
      - application/json
    method: PUT
    url: https://api.datadoghq.com/api/v1/downtime/1234
  response:
    body: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}

      '
    code: 403
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
version: 2
