interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v1/usage/logs_by_index?start_hr=2021-05-12T11%3A55%3A01%2B02%3A00
  response:
    body: '{"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}

      '
    code: 403
    duration: 100ms
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
version: 2
